@import 'vars';

@import 'mixins/responsive';
@import 'mixins/align';
@import 'mixins/sections';
@import 'mixins/utils';

@import 'base/base';

@import 'components/align';
@import 'components/sections';
@import 'components/grid';
@import 'components/splitted';
@import 'components/search';

@import '../../node_modules/tiny-slider/src/tiny-slider.scss';

.tns-outer {
  @include flexbox(column);
}

.tns-nav {
  margin: 10px 0;
  order: 1;
  text-align: center;
  > [aria-controls] {
    background: #ddd;
    border-radius: 50%;
    border: 0;
    height: 9px;
    margin: 0 5px;
    padding: 0px;
    width: 9px;
  }
  > [aria-selected="true"] {
    background: #999;
  }
}


