.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
}

.box {
  padding: 1rem;
}

.boxes.justify-to-start {
  justify-content: flex-start;
  text-align: start;
}

.boxes.justify-to-center {
  justify-content: center;
  text-align: center;
}

.boxes.justify-to-end {
  justify-content: flex-end;
  text-align: end;
}

.boxes.justify-to-between {
  justify-content: space-between;
}

.boxes.justify-to-around {
  justify-content: space-around;
}

.boxes.align-to-start {
  align-items: flex-start;
}

.boxes.align-to-center {
  align-items: center;
}

.boxes.align-to-end {
  align-items: flex-end;
}

.mobile {
  flex: 0 0 auto;
}

.mobile {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

@for $i from 1 to 13 {
  .mobile-#{$i} {
    flex: 0 0 auto;
  }
  .mobile-#{$i} {
    flex-basis: $i / 12 * 100%;
    max-width: $i / 12 * 100%;
  }
}

@include device(sm) {
  .tablet {
    flex: 0 0 auto;
  }
  .tablet {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  @for $i from 1 to 13 {
    .tablet-#{$i} {
      flex: 0 0 auto;
    }
    .tablet-#{$i} {
      flex-basis: $i / 12 * 100%;
      max-width: $i / 12 * 100%;
    }
  }
}

@include device(md) {
  .pc {
    flex: 0 0 auto;
  }
  .pc {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  @for $i from 1 to 13 {
    .pc-#{$i} {
      flex: 0 0 auto;
    }
    .pc-#{$i} {
      flex-basis: $i / 12 * 100%;
      max-width: $i / 12 * 100%;
    }
  }
}
