header {
  padding: 5px 0;
  z-index: 10;
}

header.fixed {
  position: sticky;
  top: 0;
}

header.no-fixed {
  position: static;
}

nav {
  font-size: 1.6rem;
}

.nav__right > a {
  display: none;
}

.nav__right a {
  margin-left: 10px;
}

.nav__social-icons {
  list-style-type: none;
  padding: 0;
}

/* Burger */
.burger {
  cursor: pointer;
  height: 12px;
  margin-right: 10px;
  position: relative;
  transition: all 0.4s ease;
  user-select: none;
  width: 20px;
}

.burger-bar {
  position: relative;
  transition: all 0.4s ease;
}

.burger-bar--top {
  height: 2px;
  top: 0;
  width: 100%;
}

.burger-bar--mid {
  height: 2px;
  top: 3px;
  width: 100%;
}

.burger-bar--bottom {
  height: 2px;
  top: 6px;
  width: 100%;
}

.burger.open .burger-bar--mid {
  opacity: 0;
}

.burger.open .burger-bar--top {
  top: 5px;
  transform: rotate(45deg)
}

.burger.open .burger-bar--bottom {
  transform: rotate(-45deg);
  top: 1px;
}

.burger-menu {
  font-size: 1.6rem;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: all 0.4s ease 0.1s;
  width: 0;
  z-index: 5;
}

.burger-menu.open {
  transition-delay: 0s;
  width: 100%;
}

.burger-menu.open .burger-menu--items {
  opacity: 1;
  transition-delay: 0.2s;
}

.burger-menu--items {
  list-style-type: none;
  opacity: 0;
  padding: 0;
  transition: all 0.2s ease 0s;
}

.burger-menu--item {
  padding: 5px 0;
}

.burger-menu--item a {
  transition: all 0.25s ease;
}

.burger-menu--item a:hover {
  text-decoration: underline;
}

.burger-menu--nav-item {
  display: block;
}

@include devices(sm, md, lg, xl) {
  .burger-menu--nav-item {
    display: none;
  }
  .nav__right > a {
    display: block;
  }
}
