.overlay-container {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.overlay-container.above {
  z-index: 10;
}

.overlay {
  background: #F4F4F4;
  height: 100%;
  overflow: hidden;
  position: absolute;
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 0;
}

.overlay-content {
  opacity: 0;
  transition: all 250ms ease-in;
  visibility: hidden;
}

.overlay.overlay-opened {
  overflow: auto;
  width: 100%;
}

.overlay.overlay-opened .overlay-content {
  opacity: 1;
  transition-delay: 250ms;
  visibility: visible;
}