.post__container {
  margin: 0 auto;
  padding: 25px 0;
  width: 95%;
}

.post__cover {
  height: 50vh;
}

.post__title {
  font-size: 4rem;
  font-weight: normal;
  margin: 0 0 20px;
}

.post__body {
  font-size: 1.8rem;
  font-weight: lighter;
  font-weight: 300;
}

.post__body a {
  text-decoration: underline;
}

.post__body p {
  margin: 0 0 20px;
  line-height: 30px;
}

.post__body h2 {
  margin: 0 0 20px;
  font-size: 2.5rem;
  font-weight: normal;
}

.post__body img {
  max-width: 100%;
}

.post__body blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 0 1.5rem 20px;
  padding: 1rem;
}

.post__body blockquote p {
  margin: 0;
}

@include device(sm) {
  .post__container {
    width: 75%;
  }
}

@include device(md) {
  .post__container {
    width: 65%;
  }
}

@include device(lg) {
  .post__container {
    width: 50%;
  }
}
