.post {
  padding: 0 0 20px;
  width: 100%;
}

.post > * {
  font-size: 1.8rem;
  font-weight: lighter;
  font-weight: 300;
  margin: 0 auto 20px;
  width: 95%;
}

.post__cover {
  height: 50vh;
}

.post__title {
  font-size: 4rem;
  font-weight: normal;
}

.post a {
  text-decoration: underline;
}

.post p {
  line-height: 30px;
}

.post h2 {
  font-size: 2.5rem;
  font-weight: normal;
}

.post img {
  max-width: 100%;
}

.post blockquote {
  background: #f9f9f9;
  border-left: 8px solid #ccc;
  font-size: 2rem;
  padding: 1rem;
}

.post blockquote p {
  margin: 0;
}

@include device(sm) {
  .post > * {
    width: 75%;
  }
}

@include device(md) {
  .post > * {
    width: 65%;
  }
}

@include device(lg) {
  .post > * {
    width: 50%;
  }
}
