.splitted-text p {
  margin-top: 0;
  &:nth-child(1) {
    margin-top: 10vh;
  }
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10vh;
  width: 100%;
  @include device-size(small) {
    width: 70%;
  }
  @include device-size(medium) {
    font-size: 20px;
    line-height: 30px;
    width: 60%;
  }
  @include device-size(large) {
    width: 50%;
  }
}

.splitted-text.right {
  p:nth-child(odd) {
    margin-left: auto;
    text-align: right;
  }
  p:nth-child(even) {
    margin-right: auto;
    text-align: left;
  }
}

.splitted-text.left {
  p:nth-child(odd) {
    margin-right: auto;
    text-align: left;
  }
  p:nth-child(even) {
    margin-left: auto;
    text-align: right;
  }
}